#aboutTitle{
    text-align: center;
}

#qualifications{
    text-align: left;
}
.aboutContainer{
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
}
.headshot {
    width: 20em;
    height: auto;
    border-radius: 50%;
}

#resume{
    font-size: large;
    text-align: center;
}

.skills{
    height: 4em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}