#aboutTitle{
    text-align: center;
    padding-top: 4rem;
    margin-top: -4rem;
}

#qualifications{
    text-align: left;
}
.aboutContainer{
    /* text-align: center; */
    padding-left: 10rem;
    padding-right: 7rem;
}
/* #headshot {
    width: 10rem;
    height: auto;
    border-radius: 50%;
    float: none;
    margin: 0 auto;
} */

.img-fluid{
    width: 25rem;
    display: flex;
    /* justify-content: center; */
    /* align-content: center; */
    /* float: none; */
    margin: 0 auto;
    border-radius: 50%;
    /* padding-right: 3rem; */
    /* padding-left: 3rem; */
}

.columnOne{
    padding-top: 1rem;
    width: 100%;
}
@media(max-width: 375px){
    .columnOne {
        width: 100%;
        text-align: left;
    }
    #aboutText{
        color: blue;
        font-size: 5px;
        margin: 0 -10rem 0 -8rem
    }
}

#columnThree{
    padding-top: 1rem;
    /* width: 40%; */
}

#resume{
    font-size: 1.5rem;
    text-align: center;
}

li{
    font-size: 1.5rem;
}

.skills{
    height: 4rem;
}
#aboutText{
    font-size: 1.5rem;
}

/* @media (max-width: 576px) {
    #aboutText {
        font-size: 15px;
    }
} */

