.contactLogo{
    height: 3em;
}

#email{
    border: 2px solid black;
}

#name{
    border: 2px solid black;
}

#message{
    border: 2px solid black;
}

#contactTitle{
    text-align: center;
    /* padding-top: 1em;
    margin-top: -1.5em; */
}

/* #logoContainer{
    display: block;
    justify-content: space-between;
    float: center;
} */