.jumbotron{
    background: url('../assets/desk.jpg') center;
    background-size: cover;
    color: black;
    text-align: center;
    height: 100vh;
}

.name{
    font-size: 10em;
    color: black;
}

h3{
    font-size: 2em;
}